<section>
    <header>
        organazier: <strong>{{ dateService.date | async | moment: 'DD.MM.YY' }}</strong>
        <hr />
    </header>
    <hr />
    <main>
        <ul *ngIf="tasks.length; else noTasks">
            <li *ngFor="let task of tasks; let i = index">
                <span>
                    <strong>{{ i + 1 }}</strong>
                    {{ task.title }}
                </span>
                <button (click)="remove(task)">Remove</button>
            </li>
        </ul>
        <ng-template #noTasks>
            <p>No Tasks yet..</p>
        </ng-template>
    </main>

    <footer>
        <form (ngSubmit)="submit()" [formGroup]="form">
            <input type="text" formControlName="title">
            <button 
                type="submit"
                [disabled]="form.invalid"
            >Add</button>
        </form>
    </footer>
</section>
