:root {
    //default
    --background-color: #f3f8f6;
    --text-color: #322d36;
    --btn-input-border: 1px solid #322d36;;
    --line: 1px solid #322d3610;
    --date-background-color: #44ddd5;
    --date-border: none;

    //night mode
    --night-background-color: #0a2420;
    --night-text-color: #e5f7f7;
    --night-btn-input-border: 1px solid #e5f7f7;
    --night-line: 1px solid #e5f7f720;
    --night-date-background-color: #1381858a;
    --night-date-border: none;
}