<div class="auth-wrapper" [ngClass]="{light: !darkMode, dark: darkMode}">

    <button (click) = "changeMode()" class="btn switch-mode auth-page-btn" *ngIf="!isLoading">
        <div class="icon" *ngIf="!darkMode">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.9941C2.59808 10.5366 4.57198 8.26839 4.57198 5.53913C4.57198 2.80987 2.59808 0.541634 0 0.0841445C0.314058 0.0288428 0.637236 0 0.967151 0C4.02633 0 6.50628 2.47995 6.50628 5.53913C6.50628 8.59831 4.02633 11.0783 0.967151 11.0783C0.637236 11.0783 0.314058 11.0494 0 10.9941Z" fill="#0E1B49"/>
            </svg>
        </div>
        <div class="icon" *ngIf="darkMode">
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="5.5" cy="5.5" r="5.5" fill="#DECD32"/>
                </svg>
                
        </div>
    </button>

    <div class="loading" *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
    
    <div class="auth-form" *ngIf="!isLoading">

        <div *ngIf="error" class="error-wrapper">
            <p>{{ error }}</p>
        </div>

        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-input">
                <label for="email">E-mail</label>
                <input 
                    type="email" 
                    id="email"
                    ngModel
                    name="email"
                    required
                    email
                >
            </div>
            <div class="form-input">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    id="password"
                    ngModel
                    name="password"
                    required
                    minlength="6"
                >
            </div>

            <div class="button-wrapper">
                <button class="btn" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign up' }}</button>
                <button class="btn"(click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign up' : 'Login' }}</button>
            </div>
        </form>
    </div>
</div>
