@import url( '/src/styles/theme.less');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #4e414110;
    padding: 20px;
}

.light {
    header {
        border-bottom: var(--line);
    }
}

.dark {
    header {
     border-bottom: var(--night-line);
    }
}

.title-header {
    font-size: 24px;
    margin: auto;
}

.date {
    margin: auto;
}

.btn-today {
    margin: auto;
}

.switch-mode {
    margin: auto;
    display: inline-flex;
}

.wrapper {
    display: flex;
}

.main {
    height: 100vh;
}