@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out; 
} 

main {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  background-color: #F8F3F3;
  color: #4E4141;
  min-width: 320px;
}