@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out; 
} 

main {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  background-color: #F8F3F3;
  color: #4E4141;
  min-width: 320px;
}

ul, li {
  list-style-type: none;
}

button:not(:disabled):hover {
  opacity: 0.7;
}

.btn {
  border: 1px solid #4E4141;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 15px;
}

.btn-back, .btn-next {
  border: none;
  background-color: transparent;
  padding: 5px;
}