@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url( '../src/styles/theme.less');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  background-repeat: no-repeat;
  background-position: center center;
  //transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, border-color 0.1s ease-in-out; 
} 

main {
  width: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  min-width: 320px;

  .light {
    background-color: var(--background-color);
    color: var(--text-color);
    .btn {
      border: var(--btn-input-border);
    }
    .date {
      border: var(--date-border);
      background-color: var(--date-background-color);
    }
    .main {
      border-right: var(--line);
    }

    .wrapper-tasks {
      border-bottom: var(--line);
    }
  }

  .dark {
    background-color: var(--night-background-color);
    color: var(--night-text-color);
    .btn {
      border: var(--night-btn-input-border);
      color: var(--night-text-color);
    }
    .date {
      border: var(--night-date-border);
      background-color: var(--night-date-background-color);
      color: var(--night-text-color);
    }
    .main {
      border-right: var(--night-line);
    }

    .wrapper-tasks {
      border-bottom: var(--night-line);
    }
  }
}

ul, li {
  list-style-type: none;
}

button:not(:disabled):hover {
  opacity: 0.7;
  cursor: pointer;
}

table {
  td:not(.disabled):hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.btn {
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 15px;
}

.btn-back, .btn-next {
  border: none;
  background-color: transparent;
  padding: 5px;
}